
@{
    Layout = null;
}
<!DOCTYPE html>

<html>

<head>
    <meta name ="viewport" content = "width=device-width"/>
    <title>Index</title>
</head>

<body>
    
    <div>
        <form action = "#" method="post">
            Value 1
            <input type ="text" name = "value1" />
            <br />
            Value 2
            <input type="text" name="value2" />
            <input type="radio" name = "Calculator" value="division" />Divided by<br />
            <input type ="submit" value = "Solve"/>

        </form>


    </div>

</body>

</html>